.mail-preview {
    display: flex;
    cursor: pointer;
    font-weight: bold;
    padding: 5px;
}

.mail-preview:not(:last-child) {
    border-top: 1px solid rgba(60, 64, 67, 0.3);
}

.mail-preview:last-child {
    border-bottom: 1px solid rgba(60, 64, 67, 0.3);
}

.mail-preview:hover {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    font-size: 1.05rem;
}

.mail-preview .remove-mail-img {
    right: 0;
    margin-left: 10px;
}

.mail-preview .mail-date {
    margin-inline-start: auto;
}

.mail-preview .mail-body {
    /* margin-inline-start: auto; */
}

.msg-openned {
    padding: 20px;
    font-size: 1.2rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

}

.msg-openned .msg-body {
    margin-inline-start: 20px;
    font-size: 1rem;
}

.msg-mail-address {
    margin: 0;
    color: var(--clr5);
    font-size: 1rem;
}

.remove-mail-img {
    width: 20px;
}

.remove-mail-img:hover {
    width: 21px;
}

.openned {
    background-color: var(--clr3);
    color: var(--clr1);
}

.mail-subject{
    width: 200px;
    padding-right: 40px;
}

.mail-read {
    color: var(--clr3);
}