.menu-logos {
    width: 200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--clr8);
}

.filter-logo {
    cursor: pointer;
    width: 35px;
    padding-right: 3px;
    padding-left: 5px;
    vertical-align: middle;
}

.mail-container {
    padding: 0;
}

.filter-logo-container {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
}

.filter-logo-container:hover:not(.clicked) {

    background-color: var(--clr3);
    ;
}

.clicked {
    font-weight: bold;
    background-color: var(--clr9);
    ;
}