.menu-logos{
    width: 70px;
    padding: 5px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f2f6fc;
}

.filter-logo{
    cursor: pointer;
    width: 35px;
}

.mail-container{
    padding: 0;
}
