.mail-preview {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 5px;
}

.mail-preview:not(:last-child) {
    border-top: 1px solid rgba(60, 64, 67, 0.3);
}

.mail-preview:last-child {
    border-bottom: 1px solid rgba(60, 64, 67, 0.3);

}

.mail-preview:hover {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    font-size: 1.05rem;
}

.msg-openned {
    padding: 20px;
    font-size: 1.2rem;
}

.msg-openned .msg-body{
    margin-inline-start: 20px;
    font-size: 1rem;
}

.msg-mail-address{
    margin: 0;
    color: var(--clr5);
    font-size: 1rem;
}

.openned{
    background-color: var(--clr3) ;
}

.mail-read{
    color: gold;
}