.note-list-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(276px, 1fr));
    justify-items: center;
    gap: 30px;
}

.note-title {
    display: block;
    height: 30px;
    border-bottom: 1px solid #0000002c;
}

@media (max-width: 350px) {
    .note-list-container {
        grid-template-columns: none;
    }
}