
.note-list-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    /* gap: 30px; */
}

.note-title {
    display: block;
    height: 30px;
    border-bottom: 1px solid #0000002c;
}