.tool-bar-container {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #0000002c;
    border-radius: 7px;
    padding-top: 10px;
    padding: 15px;
    gap: 12px;
}

.tool-bar-container>* {
    flex-direction: row;
    cursor: pointer;
    width: 20px;
    height: 20px;
}