.write-a-note {
    width: 400px;
    height: 120px;
    border-radius: 25px;
    margin: auto;
    background-color: #5a7c7c;
}

#note-text-area {
    width: 80%;
    margin-top: 16px;
    margin-left: 9%;
    height: 2em;
    border-radius: 4px;
    border: navajowhite;
}

.input-btns {
    display: flex;
    justify-content: flex-end;
    margin-right: 14px;
    margin-top: 30px;
    gap: 12px;
}

.input-btns>* {
    flex-direction: row;
    cursor: pointer;
    width: 20px;
}

.input-btns>* :(:first-child) {
    margin-right: 10px;
}