.write-a-note {
    width: 400px;
    height: 200px;
    border-radius: 25px;
    margin: auto;
    margin-bottom: 20px;
    background-color: #4f5d5d;
}

.main-appsus-title {
    text-align: center;
    margin-bottom: 22px;
    font-size: 1.5em;
    color: #6c6c75;
}

.write-a-note #note-title {
    width: 50%;
    display: block;
    color: wheat;
    margin: auto;
    border: 1px solid black;
    background-color: #202124d6;
    height: 2em;
    margin-top: 10px;
    border-radius: 4px;
    border: navajowhite;
}

.write-a-note .submit-btn {
    width: 88px;
    cursor: pointer;
    display: block;
    border-radius: 10px;
    font-weight: bold;
    background-color: #4f5d5d;
    margin: auto;
}

#note-text-area {
    width: 75%;
    margin-top: 16px;
    color: wheat;
    margin-left: 9%;
    height: 2em;
    border-radius: 4px;
    background-color: #202124d6;
    border: navajowhite;
}

.input-btns {
    display: flex;
    justify-content: flex-end;
    margin-right: 14px;
    margin-bottom: 10px;
    margin-top: 30px;
    gap: 12px;
}

.input-btns>* {
    flex-direction: row;
    cursor: pointer;
    width: 20px;
}

.write-a-note textarea {
    height: 65px;
    max-height: 40px;
    max-width: 300px;
    /* resize: none; */
}

@media (max-width: 450px) {
    .write-a-note {
        width: 330px;
        height: 150px;
        border-radius: 25px;
        margin-bottom: 20px;
        /* margin: auto; */
        background-color: #4f5d5d;
    }

    .input-btns {
        display: flex;
        justify-content: center;
        margin-right: 0px;
        margin-bottom: 10px;
        gap: 22px;
    }
}

@media (max-width: 350px) {
    .write-a-note {
        width: 230px;
        height: 150px;
        border-radius: 25px;
        margin-bottom: 30px;
        background-color: #4f5d5d;
    }

    .input-btns {
        display: flex;
        justify-content: center;
        margin-right: 0px;
        margin-bottom: 10px;
        gap: 22px;
    }
}