.mail-index {
    display: flex;
}

.mail-main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.unread-mails-count{
    font-size: 1.2rem;
    margin-inline-start: auto;
    margin-right: 5px;
}

.inbox-filter-container{
    display: flex;
    align-items: center;
}

#by-subject{
    width: 500px;
    background-color: var(--clr8);
    padding: 15px;
    font-size: 1.3rem;
    border-radius: 10px;
    border: none;
}