:root {
    /* color palete */
    --clr1: #626262;
    --clr2: #000;
    --clr3: #c2c2c2;
    --clr4: #f0f0f0;
    --clr5: #818181;
    --clr6: #1d1d1d;
    --clr7: #a5f1ff;
    --clr8: #f2f6fc;
    --clr9: #cadfff;
        /* layout variables */
        --outer-layout-padding: 20px;
    --inner-layout-padding: 20px;

    /* mq variables */
    --wide: 980px;
    --medium: 760px;
    --small: 500px;
}


.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.grid {
    display: grid;
}

.clear-list{
    list-style-type: none;
}