
.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    background: rgb(120, 167, 167);
    border-bottom: 2px solid white;
}

nav a {
    margin: .5em;
}

nav a:active {
    color: purple;
}

nav a.active {
    color: darkblue;
    font-weight: bold;
    text-decoration: underline;
}

.main-logo {
    width: 45px;
    height: 30px;
    margin-left: 10px;
}

.text-logo {
    color: black;
    display: inline-block;
    font-size: 2rem;
    font-family: robotoSlab;
}